h1 {
    margin-bottom: 30px;
    text-align: center;
    color: red;
}

h2 {
    margin-bottom: 30px;
}

.btn {
    border-radius: 50px;
    padding: 10px 40px;
    background-color: #4b6fe2;
}

.alert {
    padding: 20px;
}

.diagram {
    padding: 30px 50px 10px 50px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
   
}

li {
    padding: 5px;
}

.fa-arrow-right {
    padding: 0 5px;
}